@import "lib/select_list.css";
@import "lib/usermenu.css";

body {
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin: 0.5rem;
}
h1 img {
    max-width: 100%;
}

main > section {
    background-color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding: 1rem;
}

#tw-quiz ol {
    position: relative;
    list-style-type: none;
}
#tw-quiz ol input {
    margin-top: 9px;
}
#tw-quiz ol + ol {
    margin-top: -1rem;
}

#tw-quiz ol li {
    margin-left: 25px;
    line-height: 30px;
}

#tw-quiz ol input.correct:before {
    position: absolute;
    left: 25px;
    line-height: 12px;
    padding: 1px 0;
    content: "\2714";
    color: green;
}

#tw-quiz ol input.incorrect:checked:before {
    position: absolute;
    left: 25px;
    line-height: 12px;
    padding: 1px 0;
    content: "\2717";
    color: red;
}

#tw-quiz .correct div.alert.explanation {
    /* Same as alert-success */
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
